<div
  class="absolute top-0 z-[100] flex h-full w-full items-center bg-gray-800 bg-opacity-40 backdrop-blur-sm"
>
  <div
    class="mx-auto h-fit max-h-[80%] w-fit overflow-y-auto rounded-lg bg-white"
  >
    <div class="sticky top-0 z-50 w-full border bg-white p-4 shadow">
      <div class="flex text-red-500">
        <span
          class="icon-[solar--user-block-bold-duotone] m-auto h-32 w-32"
        ></span>
        <div class="my-auto h-fit w-min">
          <p class="whitespace-nowrap text-left text-3xl font-light">
            That's an error!
          </p>
          <p class="text-left text-lg font-light">
            You're not authorized to view this page.
          </p>
        </div>
      </div>

      <hr class="my-4" />

      <a
        href="/browse"
        class="flex justify-center gap-2 text-blue-400 underline"
      >
        <span class="icon-[solar--rewind-back-bold-duotone] h-8 w-8"></span>
        <span class="my-auto"> Go Back to Browsing </span>
      </a>
    </div>
  </div>
</div>
