<router-outlet />
<div class="h-screen px-6 pt-6">
  <div class="flex max-h-full flex-col rounded bg-white">
    <div class="flex justify-between p-8">
      <h1 class="font-lato text-3xl font-thin">Manage Users</h1>

      <input
        type="text"
        class="border-gray-300 p-2 font-light shadow"
        placeholder="Search"
        [formControl]="search"
      />
    </div>

    <div>
      <table class="w-full text-left">
        <thead>
          <tr class="[&>*]:p-4">
            <th class="border-b-2 border-gray-300">Name</th>
            <th class="border-b-2 border-gray-300">Email</th>
            <th class="border-b-2 border-gray-300">Role</th>
            <th class="border-b-2 border-gray-300">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of getFilteredUsers()"
            class="transition-all odd:bg-blue-50 hover:bg-gray-50"
          >
            <td class="flex gap-2 py-2">
              <img
                [src]="user.profileAvatar"
                onerror="this.src = `https://robohash.org/2`"
                alt="user avatar"
                class="ml-2 h-10 w-10 rounded border shadow"
              />
              <span class="my-auto"> {{ user.first }} {{ user.last }} </span>
            </td>
            <td>
              <a href="mailto:{{ user.email }}">
                {{ user.email }}
              </a>
            </td>
            <td>
              <span class="rounded bg-blue-300 p-1 font-light text-white">
                {{ user.roles.length ? user.roles.join(", ") : "Test User" }}
              </span>
            </td>
            <td>
              <div class="flex">
                <a
                  href="/user-manager/{{ user.id }}"
                  class="flex flex-col items-center text-blue-500 transition hover:underline"
                >
                  <span class="icon-[solar--user-bold-duotone]"></span>
                  <span class="text-sm">view</span>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
