<router-outlet />
<div class="bg-white w-4/5 max-h-[80%] mx-auto rounded p-8">
  <div class="flex justify-between">
    <h1 class="text-3xl font-lato font-thin">Manage Users</h1>

    <input
      type="text"
      class="p-2 shadow border-gray-300 font-light"
      placeholder="Search"
      [formControl]="search"
    />
  </div>

  <div class="mt-8">
    <table class="w-full text-left">
      <thead>
        <tr>
          <th class="border-b-2 border-gray-300">Name</th>
          <th class="border-b-2 border-gray-300">Email</th>
          <th class="border-b-2 border-gray-300">Role</th>
          <th class="border-b-2 border-gray-300">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of getFilteredUsers()"
          class="even:bg-blue-50 hover:bg-gray-50 transition-all"
        >
          <td class="flex gap-2 py-2">
            <img
              [src]="user.profileAvatar"
              onerror="this.src = `https://robohash.org/2`"
              alt="user avatar"
              class="w-10 h-10 rounded shadow border"
            />
            <span class="my-auto"> {{ user.first }} {{ user.last }} </span>
          </td>
          <td class="">
            {{ user.email }}
          </td>
          <td class="">
            {{ user.roles.join(", ") }}
          </td>
          <td>
            <div class="relative">
              <div
                *ngIf="view_actions == user.id"
                class="absolute top-6 right-full bg-white p-2 border border-gray-300 rounded z-50 flex gap-2"
              >
                <a
                  href="/user-manager/{{ user.id }}"
                  class="transition hover:underline flex flex-col items-center text-blue-500"
                >
                  <span class="icon-[solar--user-bold-duotone]"></span>
                  <span class="text-sm">view</span>
                </a>
                <!-- <a class="transition hover:underline">Edit</a> -->
              </div>
              <button
                class="transition-all border flex flex-col items-center shadow"
                (click)="toggleViewActions(user.id)"
              >
                <span
                  class="icon-[solar--alt-arrow-up-bold-duotone] bg-gray-800 w-8 h-8 rotate-180 my-auto hover:scale-105 active:scale-95"
                ></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
