<div class="flex max-h-full flex-col gap-8 overflow-scroll px-6 pt-6">
  <div class="rounded border bg-white p-4 shadow">
    <h1 class="font-lato text-3xl font-thin">Featured Reading</h1>
    <div class="mt-4 flex overflow-x-scroll">
      <a
        href="/browse/{{ book.id }}"
        *ngFor="let book of getFeaturedBooks()"
        class="min-w-64 p-4"
      >
        <img
          [src]="book.image"
          alt="book.title"
          class="h-64 w-full object-cover"
        />
        <h2 class="mt-2 font-lato text-lg font-thin">{{ book.title }}</h2>
        <p class="font-lato text-sm font-thin">{{ book.author }}</p>
      </a>
    </div>
  </div>

  <div class="rounded border bg-white p-4 shadow">
    <h1 class="font-lato text-3xl font-thin">Popular Books</h1>
    <div class="mt-4 flex overflow-x-scroll">
      <a
        href="/browse/{{ book.id }}"
        *ngFor="let book of getBestSellingBooks()"
        class="min-w-64 p-4"
      >
        <img
          [src]="book.image"
          alt="book.title"
          class="h-64 w-full object-cover"
        />
        <h2 class="mt-2 font-lato text-lg font-thin">{{ book.title }}</h2>
        <p class="font-lato text-sm font-thin">{{ book.author }}</p>
      </a>
    </div>
  </div>

  <div class="rounded border bg-white p-4 shadow">
    <h1 class="font-lato text-3xl font-thin">Highly Rated (TODO)</h1>
    <div class="mt-4 flex overflow-x-scroll">
      <a
        href="/browse/{{ book.id }}"
        *ngFor="let book of getBestSellingBooks()"
        class="min-w-64 p-4"
      >
        <img
          [src]="book.image"
          alt="book.title"
          class="h-64 w-full object-cover"
        />
        <h2 class="mt-2 font-lato text-lg font-thin">{{ book.title }}</h2>
        <p class="font-lato text-sm font-thin">{{ book.author }}</p>
      </a>
    </div>
  </div>
</div>
