<div
  class="absolute top-0 z-[100] flex h-full w-full items-center bg-gray-800 bg-opacity-40 backdrop-blur-sm"
>
  <div
    class="mx-auto h-screen overflow-y-auto rounded-lg bg-white md:h-3/5 md:w-3/5"
  >
    <div
      class="sticky top-0 z-50 flex w-full justify-between border bg-white p-4 shadow"
    >
      <h1 class="font-lato text-3xl font-thin">New Book</h1>

      <a href="/book-manager" class="my-auto">
        <span
          class="icon-[basil--cancel-solid] h-10 w-10 bg-gray-400 hover:bg-blue-300"
        ></span>
      </a>
    </div>

    <div class="p-4">
      <div>
        <div class="flex flex-col space-y-2">
          <div class="flex flex-wrap justify-between gap-4 md:flex-nowrap">
            <div class="flex w-full flex-col md:w-1/2">
              <label for="title" class="text-md">Title</label>
              <input
                type="text"
                id="title"
                name="title"
                [formControl]="title"
                class="rounded-lg border border-gray-300 p-1"
                required
              />
            </div>

            <div class="flex w-full flex-col md:w-1/2">
              <label for="author" class="text-md">Author</label>
              <input
                type="text"
                id="author"
                name="author"
                [formControl]="author"
                class="rounded-lg border border-gray-300 p-1"
                required
              />
            </div>
          </div>
          <div class="flex flex-wrap justify-between gap-4 md:flex-nowrap">
            <div class="flex w-full flex-col md:w-1/2">
              <label for="publisher" class="text-md">Publisher</label>
              <input
                type="text"
                id="publisher"
                name="publisher"
                [formControl]="publisher"
                class="rounded-lg border border-gray-300 p-1"
                required
              />
            </div>
            <div class="flex w-full flex-col md:w-1/2">
              <label for="year" class="text-md">Year Published</label>
              <input
                type="text"
                id="year"
                name="year"
                [formControl]="year"
                class="rounded-lg border border-gray-300 p-1"
                required
              />
            </div>
          </div>

          <div class="flex flex-wrap justify-between gap-4 md:flex-nowrap">
            <div class="flex w-full flex-col md:w-1/2">
              <label for="isbn" class="text-md">ISBN</label>
              <input
                type="text"
                id="isbn"
                name="isbn"
                [formControl]="isbn"
                class="rounded-lg border border-gray-300 p-1"
                required
              />
            </div>
            <div class="flex w-full flex-col md:w-1/2">
              <label for="image" class="text-md">Image URL</label>
              <input
                type="text"
                id="image"
                name="image"
                [formControl]="image"
                class="rounded-lg border border-gray-300 p-1"
                required
              />
            </div>
          </div>

          <div class="flex flex-wrap justify-between gap-4 md:flex-nowrap">
            <div class="flex w-full flex-col md:w-1/2">
              <label for="genre" class="text-md">Genre</label>
              <select
                id="genre"
                name="genre"
                [formControl]="genre"
                class="rounded-lg border border-gray-300 p-1"
                required
              >
                <option *ngFor="let genre of genres" [value]="genre.id">
                  {{ genre.name }}
                </option>
              </select>
            </div>
            <div class="flex w-full flex-col md:w-1/2">
              <label for="pages" class="text-md">Pages</label>
              <input
                type="text"
                id="pages"
                name="pages"
                [formControl]="pages"
                class="rounded-lg border border-gray-300 p-1"
                required
              />
            </div>
          </div>

          <div class="flex flex-col">
            <label for="description" class="text-md">Description</label>
            <textarea
              id="description"
              name="description"
              [formControl]="description"
              class="rounded-lg border border-gray-300 p-1"
              required
            ></textarea>
          </div>

          <div class="flex justify-end">
            <button
              (click)="addBook()"
              type="button"
              class="rounded-lg bg-blue-500 p-1 text-white"
            >
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
