<div class="flex rounded-lg bg-blue-200 shadow">
  <div class="px-6 py-8">
    <h1
      class="font-lato text-xl font-bold text-white transition-all md:text-5xl"
    >
      Join us for World Book Day!
    </h1>
    <p
      class="font-lato text-lg font-light text-white transition-all md:text-2xl"
    >
      Celebrate the joy of reading with us.
    </p>
    <br />
    <p
      class="md:text-md font-lato text-lg font-light text-white transition-all"
    >
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum neque sed
      minima delectus quis animi ex, laudantium deserunt minus explicabo eum
      rerum id, aliquam rem repellendus, nesciunt omnis. Facere, saepe sequi
      cupiditate sed quidem perferendis soluta dignissimos, provident delectus
      reiciendis blanditiis dicta doloremque explicabo labore veritatis dolores
      libero nam ab voluptatem, distinctio molestias.

      <br />
      <br />

      Reiciendis quis eaque voluptatem? Temporibus, ratione voluptatem sed,
      voluptatibus nisi eveniet expedita animi asperiores porro perspiciatis
      placeat consequatur mollitia cum pariatur veritatis impedit. Corporis,
      adipisci id facilis eligendi dignissimos ipsa qui pariatur quisquam?
      Maxime illo voluptas optio laboriosam facilis autem dolor aperiam delectus
      inventore recusandae debitis culpa, quos aspernatur distinctio et nihil?
      Praesentium sed eveniet harum deserunt eaque libero! Placeat, minus
      nesciunt porro molestias quibusdam ratione cumque!
    </p>
  </div>

  <img
    src="/assets/book-day.svg"
    alt="advertisement"
    class="w-0 object-contain md:w-1/2"
  />
</div>
