<div
  class="absolute left-0 top-0 z-[100] flex h-full w-full items-center bg-gray-800 bg-opacity-40 backdrop-blur-sm"
>
  <div
    class="mx-auto h-fit max-h-[80%] overflow-y-auto rounded-lg bg-white md:w-3/5"
  >
    <div
      class="sticky top-0 z-50 flex w-full justify-between border bg-white p-4 shadow"
    >
      <h1 class="font-lato text-3xl font-thin">Write a Review</h1>

      <a href="/browse/{{ bookId }}" class="my-auto">
        <span
          class="icon-[solar--arrow-to-down-right-line-duotone] h-10 w-10 rotate-90 bg-gray-400 hover:bg-blue-300"
        ></span>
      </a>
    </div>

    <div class="flex gap-2">
      <img [src]="book?.image" alt="Book Cover" class="m-8 w-1/4 rounded-lg" />
      <div class="p-8">
        <h2 class="font-lato text-2xl font-light">
          Rate your experience with this book
        </h2>
        <div class="flex gap-2">
          <button
            *ngFor="let star of [1, 2, 3, 4, 5]"
            class="p-2"
            (click)="setRating(star)"
          >
            <span
              class="icon-[solar--star-bold-duotone] my-auto h-10 w-10 transition-all hover:scale-105 active:scale-95"
              [ngClass]="{
                'bg-yellow-400': rating.value && star <= rating.value,
                'bg-gray-400': rating.value && star > rating.value,
              }"
            ></span>
          </button>
        </div>
        <br />

        <h2 class="mb-2 font-lato text-2xl font-light">Description</h2>
        <textarea
          class="w-full rounded-lg border p-2"
          [formControl]="description"
          placeholder="Write your review here..."
        ></textarea>

        <div class="mt-4 flex justify-center">
          <button
            class="rounded-lg bg-blue-400 p-2 text-white transition-all hover:scale-105 active:scale-95"
            (click)="submit()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
