<div class="flex rounded-lg bg-blue-200 bg-left-top shadow">
  <img
    src="/assets/online-library.svg"
    alt="advertisement"
    class="w-0 object-contain md:w-1/2"
  />
  <div class="p-8">
    <h1 class="font-lato text-5xl font-bold text-white">
      Enjoy the Amenities of our Online Library!
    </h1>
    <p class="font-lato text-xl font-light text-white">
      Browse our collection of books from the comfort of your home.
    </p>
    <br />
    <p class="text-md font-lato font-light text-white">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia eius
      incidunt, suscipit veritatis eum libero repudiandae omnis voluptatibus
      quos cupiditate recusandae accusantium officia earum voluptatum, magnam
      consectetur nesciunt praesentium modi aliquid, pariatur tempora. Obcaecati
      repudiandae et ea deleniti neque voluptatum placeat perferendis. Nobis
      aspernatur delectus quas nesciunt veniam accusamus deleniti atque sunt
      quos repellat nihil et libero, eaque exercitationem perspiciatis pariatur
      omnis ratione. Aliquid cumque dolorum suscipit ad porro nisi, quidem
      tempore laboriosam, hic dicta reprehenderit cupiditate explicabo sunt?
      Modi alias pariatur consequatur non aliquid saepe dicta sapiente eaque
      voluptatibus minus eos minima facilis placeat, maxime fugiat nostrum!
      Quisquam sed quam non expedita! Hic exercitationem, amet voluptatum
      voluptate quae vero ratione aliquid animi optio saepe eveniet quo, quas
      beatae velit est cumque delectus quia modi dolor reprehenderit iure.
    </p>
  </div>
</div>
