<div
  class="bg-gray-800 bg-opacity-40 h-full w-full absolute top-0 z-[100] backdrop-blur-sm flex items-center"
>
  <div
    class="bg-white h-fit max-h-[80%] w-fit mx-auto rounded-lg overflow-y-auto"
  >
    <div class="shadow sticky top-0 p-4 bg-white z-50 border w-full">
      <div class="text-red-500 flex">
        <span class="icon-[tabler--error-404] w-32 h-32 m-auto"></span>
        <div class="h-fit my-auto">
          <p class="text-3xl font-light text-left">That's an error!</p>
          <p class="text-lg font-light text-left">
            The page you're looking for doesn't exist.
          </p>
        </div>
      </div>

      <hr class="my-4" />

      <a
        href="/browse"
        class="flex underline text-blue-400 gap-2 justify-center"
      >
        <span class="icon-[solar--rewind-back-bold-duotone] w-8 h-8"></span>
        <span class="my-auto"> Go Back to Browsing </span>
      </a>
    </div>
  </div>
</div>
