<div
  class="bg-gray-800 bg-opacity-40 h-full w-full absolute top-0 z-[100] backdrop-blur-sm flex items-center"
>
  <div
    class="bg-white h-fit max-h-[80%] w-3/5 mx-auto rounded-lg overflow-y-auto"
  >
    <div
      class="flex justify-between shadow sticky top-0 p-4 bg-white z-50 border w-full"
    >
      <h1 class="text-3xl font-lato font-thin my-auto">View Book</h1>
      <div class="flex gap-2">
        <a
          *ngIf="book?.isAvailable"
          href="browse/{{ book?.id }}/checkout/{{ current_user_id }}"
          class="my-auto p-2 flex flex-col items-center"
        >
          <span
            class="icon-[solar--backpack-bold-duotone] bg-gray-500 m-auto w-8 h-8 hover:scale-110 transition-all active:scale-95"
          ></span>
          <span class="text-sm">borrow</span>
        </a>
        <button
          class="my-auto p-2 flex flex-col items-center"
          title="Favorite"
          (click)="toggleFavorite()"
        >
          <span
            class="icon-[solar--star-bold-duotone] m-auto w-8 h-8 hover:scale-110 transition-all active:scale-95"
            [ngClass]="{
              'bg-yellow-400': favorited,
              'bg-gray-400': !favorited,
            }"
          ></span>
          <span class="text-sm">{{
            favorited ? "favorited" : "favorite"
          }}</span>
        </button>

        <a href="/browse" class="my-auto">
          <span
            class="icon-[basil--cancel-solid] w-10 h-10 bg-gray-400 hover:bg-blue-300"
          ></span>
        </a>
      </div>
    </div>
    <div class="flex gap-8 p-8">
      <div class="w-1/3 max-w-[200px]">
        <img [src]="book?.image" alt="Book Cover" class="rounded-lg" />
      </div>
      <div class="w-2/3 flex flex-col gap-2">
        <div>
          <h2 class="text-2xl font-lato font-light">{{ book?.title }}</h2>
          <p class="text-lg font-lato font-light">{{ book?.author }}</p>
          <div class="flex gap-2">
            <p class="text-md font-lato">Rating:</p>
            <p class="text-md font-lato font-light">
              {{ book?.averageRating }} stars
            </p>
          </div>
        </div>
        <hr />
        <p class="text-md font-lato font-light">{{ book?.description }}</p>
        <hr />
        <div class="flex flex-col gap-2">
          <div class="flex gap-1">
            <p class="text-md font-lato">Genre:</p>
            <p class="text-md font-lato font-light">{{ book?.genre?.name }}</p>
          </div>
          <div class="flex gap-1">
            <p class="text-md font-lato">Publisher:</p>
            <p class="text-md font-lato font-light">{{ book?.publisher }}</p>
          </div>
          <div class="flex gap-1">
            <p class="text-md font-lato">Published:</p>
            <p class="text-md font-lato font-light">{{ book?.year }}</p>
          </div>
          <div class="flex gap-1">
            <p class="text-md font-lato">ISBN:</p>
            <p class="text-md font-lato font-light">{{ book?.isbn }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="px-8 py-4 border-t">
      <div class="flex justify-between">
        <h2 class="text-xl font-light">Reviews</h2>
        <a href="browse/{{ book?.id }}/review" class="text-blue-400"
          >Write a review</a
        >
      </div>

      <div
        *ngIf="book?.reviews?.length === 0"
        class="flex flex-col items-center justify-center h-4/5"
      >
        <span
          class="icon-[solar--info-square-bold-duotone] text-6xl text-gray-400"
        ></span>
        <p class="text-gray-400 text-2xl font-light">No Reviews Yet</p>
        <a
          href="browse/{{ book?.id }}/review"
          class="text-blue-500 underline mt-4 font-light"
        >
          Be the first to review this book
        </a>
      </div>

      <div class="flex flex-col space-y-2 divide-y-2">
        <div
          *ngFor="let review of book?.reviews"
          class="flex flex-col gap-2 py-2"
        >
          <app-book-review [review]="review"></app-book-review>
        </div>
      </div>
    </div>
  </div>
</div>
