<div class="flex max-h-full flex-col gap-8 overflow-scroll px-6 pt-6">
  <div class="rounded border bg-white p-4 shadow">
    <h1 class="font-lato text-3xl font-thin">Settings</h1>

    <div class="flex">
      <div class="flex w-1/4 flex-col gap-y-1 border-r-2 p-4">
        <a
          routerLink="profile"
          routerLinkActive="text-blue-300 bg-gray-100 rounded"
          class="flex gap-x-2 p-2 text-lg"
        >
          <span class="icon-[solar--user-bold-duotone] my-auto"> </span>
          Profile
        </a>
        <!-- <a
          routerLink="password"
          routerLinkActive="text-blue-300 bg-gray-100 rounded"
          class="flex text-lg gap-x-2 p-2"
          ><span class="icon-[solar--lock-bold-duotone] my-auto"></span>
          Password</a
        > -->
      </div>
      <div class="p-4">
        <router-outlet />
      </div>
    </div>
  </div>
</div>
