<button
  (click)="toggleNav()"
  *ngIf="isAuthenticated()"
  class="absolute top-2 right-2"
>
  <span
    class="icon-[solar--map-arrow-up-bold-duotone] w-10 h-10 bg-white rotate-45 hover:bg-blue-200"
  ></span>
</button>

<nav
  *ngIf="isAuthenticated()"
  class="bg-gray-800 text-white p-4 absolute top-0 transition-all ease-linear overflow-hidden h-full z-[100]"
  [ngClass]="{
    'w-[0%] p-0 -right-1/3': !show_nav,
    'right-0 md:w-1/3 w-full': show_nav,
  }"
>
  <div class="w-full flex justify-between">
    <a routerLink="" routerLinkActive="text-blue-300">
      <span class="icon-[ph--house-duotone] w-10 h-10"></span>
    </a>
    <button (click)="toggleNav()">
      <span
        class="icon-[solar--map-arrow-up-bold-duotone] w-10 h-10 bg-white rotate-45 hover:bg-blue-200"
      ></span>
    </button>
  </div>
  <div class="flex flex-col gap-y-4 my-2">
    <hr />
    <h2 class="text-3xl">Browse the Library</h2>
    <a routerLink="/browse" routerLinkActive="text-blue-300">
      <h2 class="text-xl hover:text-blue-200 font-light flex gap-1">
        <span class="icon-[solar--book-bold-duotone] my-auto"></span>Browse
        Books
      </h2>
    </a>
    <!-- <a routerLink="/events" routerLinkActive="text-blue-300">
        <h2 class="text-xl hover:text-blue-200 font-light flex gap-1">
          <span class="icon-[solar--calendar-bold-duotone] my-auto"></span
          >Upcoming Events
        </h2>
      </a> -->

    <hr />
    <h2 class="text-3xl">Your Data</h2>
    <a routerLink="/favorites" routerLinkActive="text-blue-300">
      <h2 class="text-xl hover:text-blue-200 font-light flex gap-1">
        <span class="icon-[solar--star-bold-duotone] my-auto"></span>Favorites
      </h2>
    </a>
    <a routerLink="/checked-out-books" routerLinkActive="text-blue-300">
      <h2 class="text-xl hover:text-blue-200 font-light flex gap-1">
        <span class="icon-[solar--cart-bold-duotone] my-auto"></span>Checked Out
      </h2>
    </a>
    <a routerLink="/settings/profile" routerLinkActive="text-blue-300">
      <h2 class="text-xl hover:text-blue-200 font-light flex gap-1">
        <span class="icon-[solar--settings-bold-duotone] my-auto"></span
        >Settings
      </h2>
    </a>

    <hr *ngIf="is_employee" />
    <h2 *ngIf="is_employee" class="text-3xl">Administrative</h2>

    <a
      *ngIf="is_employee"
      routerLink="/returns"
      routerLinkActive="text-blue-300"
    >
      <h2 class="text-xl hover:text-blue-200 font-light flex gap-1">
        <span class="icon-[solar--clipboard-bold-duotone] my-auto"></span>
        Manage Returns
      </h2>
    </a>
    <!-- <a
        *ngIf="is_employee"
        routerLink="/users"
        routerLinkActive="text-blue-300"
      >
        <h2 class="text-xl hover:text-blue-200 font-light flex gap-1">
          <span class="icon-[solar--user-bold-duotone] my-auto"></span>
          Manage Users
        </h2>
      </a> -->
    <a
      *ngIf="is_employee"
      routerLink="/book-manager"
      routerLinkActive="text-blue-300"
    >
      <h2 class="text-xl hover:text-blue-200 font-light flex gap-1">
        <span class="icon-[solar--folder-2-bold-duotone] my-auto"></span>Manage
        Books
      </h2>
    </a>
    <hr />
    <button (click)="logout()">
      <h2 class="text-xl hover:text-blue-200 font-light flex gap-1">
        <span class="icon-[solar--logout-3-bold-duotone] my-auto"></span>Logout
      </h2>
    </button>
  </div>
</nav>
