<router-outlet />
<div class="flex max-h-full flex-col gap-8 px-6 pt-6">
  <div
    class="sticky top-0 z-50 flex w-full justify-between rounded border bg-white p-8 shadow"
  >
    <h1 class="font-lato text-3xl font-thin">Browse Books</h1>

    <div class="relative flex gap-4">
      <button
        class="my-auto flex flex-col items-center"
        title="Filter"
        (click)="toggleDisplayFilter()"
      >
        <span
          class="icon-[solar--filter-bold-duotone] h-8 w-8 bg-gray-300 transition-all hover:scale-110 hover:bg-blue-300 active:scale-95"
        ></span>
        <span class="text-sm text-gray-600">filter</span>
      </button>
      <div
        *ngIf="display_filter"
        class="absolute right-0 top-12 rounded border bg-white p-4 shadow-xl"
      >
        <div class="z-50 flex flex-col gap-y-2">
          <div class="flex gap-x-2">
            <p class="text-lg">Genre</p>
            <button (click)="clearGenres()">
              <span
                class="icon-[basil--cancel-solid] h-8 w-8 bg-gray-300 hover:bg-blue-300"
              ></span>
            </button>
          </div>
          <div class="flex gap-2">
            <button
              *ngFor="let genre of genres"
              class="whitespace-nowrap rounded p-1 shadow"
              (click)="toggleGenre(genre.id)"
              [ngClass]="{
                'bg-gray-400': genreIsSelected(genre.id),
                'bg-gray-200': !genreIsSelected(genre.id),
              }"
            >
              {{ genre.name }}
            </button>
          </div>

          <br />

          <div class="flex gap-x-2">
            <p class="text-lg">Sort</p>
            <button (click)="clearSort()">
              <span
                class="icon-[basil--cancel-solid] h-8 w-8 bg-gray-300 hover:bg-blue-300"
              ></span>
            </button>
          </div>
          <div class="flex gap-2">
            <div *ngFor="let sort of sorts" class="flex gap-2">
              <button
                class="whitespace-nowrap rounded p-1 shadow"
                (click)="selectSort(sort.value)"
                [ngClass]="{
                  'bg-gray-400': sort.value === selected_sort,
                  'bg-gray-200': sort.value !== selected_sort,
                }"
              >
                {{ sort.label }}
              </button>
            </div>
          </div>

          <br />

          <div class="flex gap-x-2">
            <input
              type="checkbox"
              title="show_unavailable"
              id="show_unavailable"
              (change)="toggleAvailability()"
              [checked]="show_unavailable.value"
            />
            <label class="text-lg" for="show_unavailable"
              >Show Unavailable</label
            >
          </div>
        </div>
      </div>

      <input
        type="text"
        class="border-gray-300 p-2 font-light shadow"
        placeholder="Search"
        [formControl]="search"
      />
    </div>
  </div>

  <div class="flex w-full justify-end">
    <p class="pr-4 pt-4 font-light italic text-gray-500">
      returning ({{ getBooks().length }}) result(s)
    </p>
  </div>

  <div
    class="flex max-h-full flex-wrap justify-evenly gap-4 overflow-y-scroll p-8"
  >
    <a
      *ngFor="let book of getBooks()"
      class="relative w-1/5 min-w-56 rounded bg-gray-50 p-4 hover:shadow"
      href="/browse/{{ book.id }}"
      [ngClass]="{
        grayscale: !book.isAvailable,
      }"
    >
      <p
        *ngIf="selected_genres.length > 0 || selected_sort === 'genre'"
        class="absolute left-0 top-4 bg-blue-500 p-2 font-lato text-sm font-thin text-white"
      >
        {{ book.genre.name }}
      </p>
      <p
        *ngIf="selected_sort === 'page count'"
        class="absolute left-0 top-16 bg-blue-500 p-2 font-lato text-sm font-thin text-white"
      >
        {{ book.pages }} pages
      </p>
      <p
        *ngIf="!book.isAvailable"
        class="absolute left-0 top-16 bg-gray-500 p-2 font-lato text-sm font-thin text-white"
      >
        Expected Available {{ book.expectedReturnDate.slice(0, 10) }}
      </p>
      <div>
        <img
          alt="{{ book.title }}"
          src="{{ book.image }}"
          onerror="this.src='https://via.placeholder.com/360x480.png?text=No+Image+Available'"
          width="640"
          height="480"
        />
      </div>
      <p
        class="overflow-x-clip text-ellipsis whitespace-nowrap pt-2 font-lato text-sm font-light md:text-lg"
      >
        {{ book.title }}
      </p>
      <p class="md:text-md whitespace-nowrap font-lato text-sm font-thin">
        {{ book.author }}
      </p>

      <!-- <p class="text-sm font-lato font-thin">{{ book.year }}</p>
          <p class="text-sm font-lato font-thin">{{ book.genre }}</p>
          <p class="text-sm font-lato font-thin">{{ book.pages }}</p>
          <p class="text-sm font-lato font-thin">{{ book.publisher }}</p>
          <p class="text-sm font-lato font-thin">{{ book.isbn }}</p>
          <p class="text-sm font-lato font-thin">{{ book.description }}</p> -->
    </a>
  </div>
</div>
