<router-outlet />
<div class="h-screen px-6 pt-6">
  <div class="flex max-h-full flex-col">
    <div
      class="sticky top-0 z-50 flex justify-between rounded border bg-white p-8 shadow"
    >
      <h1 class="font-lato text-3xl font-thin">Transactions</h1>

      <div class="relative flex gap-4">
        <button
          class="my-auto flex flex-col items-center"
          title="Filter"
          (click)="toggleFilterMenu()"
        >
          <span
            class="icon-[solar--filter-bold-duotone] h-8 w-8 bg-gray-300"
          ></span>
          <span class="text-sm text-gray-600">filter</span>
        </button>

        <form
          [formGroup]="filters"
          *ngIf="showFilterMenu()"
          class="absolute right-full top-12 rounded border bg-white p-4 shadow-xl"
        >
          <div class="flex flex-col gap-4">
            <div class="flex gap-2">
              <input type="checkbox" formControlName="overdue" id="overdue" />
              <label for="overdue" class="whitespace-nowrap">Overdue</label>
            </div>
            <div class="flex gap-2">
              <input type="checkbox" formControlName="dueSoon" id="dueSoon" />
              <label for="dueSoon" class="whitespace-nowrap">Due Soon</label>
            </div>
            <div class="flex gap-2">
              <input type="checkbox" formControlName="returned" id="returned" />
              <label for="returned" class="whitespace-nowrap">Returned</label>
            </div>
          </div>
        </form>

        <input
          type="text"
          class="border-gray-300 p-2 font-light shadow"
          placeholder="Search"
          [formControl]="search"
        />
      </div>
    </div>

    <div class="flex flex-col overflow-y-scroll bg-white">
      <div
        *ngFor="let transaction of getFilteredTransactions()"
        class="p-2 odd:bg-blue-50"
      >
        <div class="flex gap-4">
          <img
            [src]="transaction.book.image"
            alt="book cover"
            class="w-18 h-20 object-cover"
          />
          <div class="w-1/4 border-r">
            <h2 class="font-lato text-xl font-thin">
              {{ transaction.book.title }}
            </h2>
            <p class="text-gray-600">{{ transaction.book.author }}</p>
          </div>

          <div class="flex w-full justify-between">
            <div class="w-1/3">
              <h2 class="text-gray-600">Checked Out User</h2>
              <button
                class="flex h-min gap-1 rounded p-1 text-left transition-all hover:scale-110 hover:shadow"
                (click)="onConfirmLeave(transaction.user.id)"
              >
                <div>
                  <p class="font-lato font-thin">
                    {{ transaction.user.first }} {{ transaction.user.last }}
                  </p>
                  <p class="font-lato font-thin">
                    {{ transaction.user.email }}
                  </p>
                </div>
              </button>
            </div>

            <div class="flex w-2/5 flex-col border-l border-r px-4">
              <div class="flex gap-1">
                <p class="text-gray-600">Checkout Date</p>
                <p class="font-lato font-thin">
                  {{ transaction.checkOutTime.slice(0, 10) }}
                </p>
              </div>

              <div class="flex gap-1" *ngIf="transaction.isCheckedIn">
                <p class="text-gray-600">Checked In Date</p>
                <p class="font-lato font-thin">
                  {{ transaction.checkInTime?.slice(0, 10) }}
                </p>
              </div>

              <div class="flex gap-1">
                <p class="text-gray-600">Return Date</p>
                <p class="font-lato font-thin">
                  {{ transaction.dueTime?.slice(0, 10) }}
                </p>
              </div>
            </div>

            <div class="flex w-1/5 flex-col gap-2">
              <div
                *ngIf="transaction.isOverdue"
                class="flex flex-col items-center"
              >
                <span
                  class="icon-[ph--warning-duotone] mx-auto h-8 w-8 bg-red-500"
                ></span>
                <span class="mx-auto text-sm text-red-500">
                  {{
                    transaction.isOverdue && !transaction.isCheckedIn
                      ? "overdue"
                      : "overdue, returned"
                  }}
                </span>
              </div>

              <div
                *ngIf="!transaction.isCheckedIn && !transaction.isOverdue"
                class="flex flex-col items-center"
              >
                <span
                  class="icon-[solar--bell-bold-duotone] mx-auto h-8 w-8 bg-yellow-500"
                ></span>
                <span class="mx-auto whitespace-nowrap text-sm text-yellow-500"
                  >due soon</span
                >
              </div>
            </div>
            <div class="w-1/6">
              <a
                class="flex flex-col items-center"
                href="returns/{{ transaction.id }}"
                *ngIf="!transaction.isCheckedIn"
              >
                <span
                  class="icon-[solar--rewind-back-circle-bold-duotone] m-auto h-8 w-8 bg-gray-500 transition-all hover:scale-110 hover:bg-blue-300 active:scale-95"
                ></span>
                <span class="text-sm"> return </span>
              </a>
              <div
                *ngIf="transaction.isCheckedIn"
                class="flex flex-col items-center"
              >
                <span
                  class="icon-[solar--bill-check-bold-duotone] mx-auto h-8 w-8 bg-green-500"
                ></span>
                <span class="mx-auto text-sm text-green-500">complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-toast
    position="center"
    key="confirm-leave"
    (onClose)="onCanceledLeave()"
    [baseZIndex]="5000"
    class="fixed"
  >
    <ng-template let-message pTemplate="message" class="border">
      <div class="flex w-full flex-col">
        <div class="mx-auto text-center">
          <h4 class="text-lg font-bold">{{ message.summary }}</h4>
          <p>{{ message.detail }}</p>
        </div>
        <br />
        <div class="flex gap-x-2">
          <div
            class="w-1/2 rounded bg-red-100 p-2 text-center text-red-500 transition-all hover:bg-red-200 hover:text-white active:ring-2 active:ring-red-300"
            label="Yes"
            type="button"
            (click)="onLeave()"
          >
            Confirm
          </div>
          <button
            class="w-1/2 rounded bg-gray-100 p-2 text-center text-gray-500 transition-all hover:bg-gray-200 active:ring-2 active:ring-blue-300"
            label="No"
            type="button"
            (click)="onCanceledLeave()"
          >
            Cancel
          </button>
        </div>
      </div>
    </ng-template>
  </p-toast>
</div>
