<div
  class="absolute left-0 top-0 z-[100] flex h-full w-full items-center bg-gray-800 bg-opacity-40 backdrop-blur-sm"
>
  <div
    class="mx-auto h-fit max-h-[80%] w-3/5 overflow-y-auto rounded-lg bg-white"
  >
    <div
      class="sticky top-0 z-50 flex w-full justify-between border bg-white p-4 shadow"
    >
      <h1 class="my-auto font-lato text-3xl font-thin">View User</h1>

      <a href="/user-manager" class="my-auto">
        <span
          class="icon-[basil--cancel-solid] h-10 w-10 bg-gray-400 hover:bg-blue-300"
        ></span>
      </a>
    </div>

    <div class="p-8">
      <div class="flex gap-4">
        <img
          [src]="user.profileAvatar"
          onerror="this.src = `https://robohash.org/2`"
          alt="user avatar"
          class="h-20 w-20 rounded border shadow"
        />
        <div class="flex flex-col gap-2">
          <h2 class="font-lato text-2xl font-thin">
            {{ user.first }} {{ user.last }}
          </h2>
          <p class="text-gray-500">{{ user.email }}</p>
        </div>
      </div>
    </div>

    <hr />

    <div class="p-6">
      <h2 class="text-lg font-light">Transactions</h2>
      <br />
      <table class="w-full">
        <thead>
          <tr>
            <th class="text-left">Book</th>
            <th class="text-left">Checkout Date</th>
            <th class="text-left">Return Due Date</th>
            <th class="text-left">Status</th>
            <th class="text-left">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of user.transactions" class="border-b">
            <td class="py-3 font-light">{{ transaction.book.title }}</td>
            <td class="font-light">
              <input
                type="date"
                class="rounded border border-gray-300 p-1"
                value="{{ transaction.checkOutTime.slice(0, 10) }}"
                disabled
              />
            </td>
            <td class="font-light">
              <input
                type="date"
                class="rounded border border-gray-300 p-1"
                value="{{ transaction.dueTime?.slice(0, 10) }}"
                disabled
              />
            </td>
            <td class="font-light">
              <div class="flex">
                <span
                  *ngIf="transaction.isOverdue"
                  class="flex flex-col text-red-500"
                >
                  <span
                    class="bg-red icon-[solar--danger-triangle-bold-duotone] m-auto h-8 w-8"
                  ></span>
                  <span class="text-center text-sm"> overdue </span>
                </span>
                <span
                  *ngIf="!transaction.isOverdue"
                  class="flex flex-col items-center"
                >
                  <span
                    *ngIf="transaction.isCheckedIn"
                    class="icon-[solar--archive-check-bold-duotone] m-auto h-8 w-8 bg-green-400"
                  ></span>
                  <span
                    *ngIf="!transaction.isCheckedIn"
                    class="icon-[solar--calendar-bold-duotone] m-auto h-8 w-8 bg-yellow-500"
                  ></span>
                  {{ transaction.isCheckedIn ? "returned" : "out" }}
                </span>
              </div>
            </td>
            <td class="font-light">
              <div class="flex">
                <a
                  href="/returns/{{ transaction.book.id }}"
                  class="flex flex-col items-center text-blue-500"
                >
                  <span
                    class="icon-[solar--bill-check-bold-duotone] m-auto h-8 w-8 bg-blue-300 transition-all hover:scale-110 active:scale-105"
                  ></span>
                  <span class="text-sm"> return </span>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
