<router-outlet />
<div class="h-screen px-6 pt-6">
  <div class="flex max-h-full flex-col">
    <div
      class="sticky top-0 flex max-h-full justify-between rounded bg-white p-8 shadow"
    >
      <h1 class="font-lato text-3xl font-thin">Manage Books</h1>
      <div class="flex gap-x-4">
        <a
          routerLink="/book-manager/add"
          class="flex cursor-pointer flex-col text-sm text-blue-400 hover:scale-105 active:scale-95"
          title="add book"
        >
          <span
            class="icon-[solar--add-square-bold-duotone] m-auto h-8 w-8"
          ></span>
          <span class="m-auto"> add book </span>
        </a>
        <input
          type="text"
          class="rounded border-gray-300 p-2 font-light shadow"
          placeholder="Search"
          [formControl]="search"
        />
      </div>
    </div>

    <div class="max-h-full overflow-scroll bg-white">
      <div *ngFor="let book of getBooks()" class="p-2 odd:bg-blue-50">
        <div class="flex justify-between">
          <div class="flex gap-2">
            <img
              [src]="book.image"
              alt="book cover"
              class="w-18 h-24 rounded shadow-lg"
            />
            <div class="flex flex-col justify-between">
              <div>
                <p class="text-xl">{{ book.title }}</p>
                <p class="font-light">{{ book.author }}</p>
              </div>
              <p class="font-light">
                <span class="font-bold">ISBN: </span>{{ book.isbn }}
              </p>
            </div>
          </div>
          <div class="mr-4 flex flex-col items-center">
            <div class="my-auto flex gap-6">
              <a
                routerLink="/book-manager/edit/{{ book.id }}"
                class="flex cursor-pointer flex-col text-sm text-blue-400 hover:scale-105 active:scale-95"
                title="edit book"
              >
                <span
                  class="icon-[solar--server-square-update-bold-duotone] m-auto h-8 w-8"
                ></span>
                <span class="m-auto"> edit </span>
              </a>
              <button
                class="flex cursor-pointer flex-col text-sm text-red-400 hover:scale-105 active:scale-95"
                (click)="onConfirmDelete(book.id)"
                title="delete book"
              >
                <span
                  class="icon-[solar--trash-bin-trash-bold-duotone] m-auto h-8 w-8"
                ></span>
                <span class="m-auto"> delete </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast
  position="bottom-center"
  key="confirm-delete"
  (onClose)="onCanceledDelete()"
  [baseZIndex]="5000"
  class="fixed"
>
  <ng-template let-message pTemplate="message" class="border">
    <div class="flex w-full flex-col">
      <div class="mx-auto text-center">
        <h4 class="text-lg font-bold">{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <br />
      <div class="flex gap-x-2">
        <div
          class="w-1/2 rounded bg-red-100 p-2 text-center text-red-500 transition-all hover:bg-red-200 hover:text-white active:ring-2 active:ring-red-300"
          label="Yes"
          type="button"
          (click)="onDelete()"
        >
          Confirm
        </div>
        <button
          class="w-1/2 rounded bg-gray-100 p-2 text-center text-gray-500 transition-all hover:bg-gray-200 active:ring-2 active:ring-blue-300"
          label="No"
          type="button"
          (click)="onCanceledDelete()"
        >
          Cancel
        </button>
      </div>
    </div>
  </ng-template>
</p-toast>
